<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';

import { ref } from 'vue';

const router = useRouter();

// ใหม่
const items = ref([
    { title: 'สมาชิก', icon: 'mdi-account-multiple-outline', route: '' },
    { title: 'Trainer', icon: 'mdi-arm-flex', route: '/trainermanage' },
    { title: 'Account', icon: 'mdi-account-cog', route: '' },
    { title: 'Logout', icon: 'mdi-logout', route: '/homevisitview' },
]);
// ใหม่

const handleMenuItemClick = (item: { route: RouteLocationRaw; }) => {
    // Handle navigation based on the clicked item
    router.push(item.route);
};

</script>
<template>
    <v-app-bar>

        <v-toolbar dark color="grey-darken-3">

            <!-- Icon -->
            <v-toolbar-title class="white--text">
                <div class="d-flex">

                    <!-- วงกลม Icon -->
                    <router-link to="/homeadminview">
                        <div class="pa-2 bg-red-darken-4 rounded-circle d-inline-block">

                            <!-- image Icon -->
                            <v-avatar size="35" rounded="">
                                <v-img src="/public/Icondumbel.png"></v-img>
                            </v-avatar>

                        </div>
                    </router-link>
                    <!-- วงกลม Icon -->

                    <p class="text-h4 font-weight-black pl-5 pt-1" style="font-family: 'MitrMedium'">PUNSOOK</p>
                </div>
            </v-toolbar-title>

            <!-- Toolbar -->
            <v-toolbar-items class="hidden-sm-and-down text-center">

                <!-- tab ด้านหลัง -->
                <div class="px-16 mt-3 mb-3 bg-grey-darken-1 rounded-pill text-h4" style="font-family: 'MitrRegular'">
                    <v-btn variant="plain" to="/homeadminview">
                        <h2>หน้าแรก</h2>
                    </v-btn>
                    <v-btn variant="plain" to="statusmanagead">
                        <h2>จัดการ Status</h2>
                    </v-btn>
                    <v-btn variant="plain" to="/moneymanage">
                        <h2>จัดการเงิน</h2>
                    </v-btn>
                </div>
                <!-- tab ด้านหลัง -->

            </v-toolbar-items>

            <!-- Logout -->
            <v-toolbar-title class="white--text">
                <div class="text-right" style="padding: 0 16px;">
                    <v-menu>
                        <template v-slot:activator="{ props }">
                            <v-btn rounded variant="flat" color="red-darken-4" v-bind="props"
                                style="font-family: 'MitrRegular'">
                                Admin
                                <v-icon>mdi-menu-down</v-icon>
                            </v-btn>
                        </template>

                        <v-list class="bg-red-darken-4 white--text rounded-t-xl rounded-b-xl"
                            style="font-family: 'MitrRegular'">
                            <v-list-item v-for="(item, index) in items" :key="index" @click="handleMenuItemClick(item)">

                                <!-- เพิ่ม Icon -->
                                <div class="d-flex">
                                    <v-icon class="text-black">{{ item.icon }}</v-icon>
                                    <v-list-item-title class="pl-2">{{ item.title }}</v-list-item-title>
                                </div>
                                <!-- เพิ่ม Icon -->

                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>
            </v-toolbar-title>

        </v-toolbar>

    </v-app-bar>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>