<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import { onMounted, ref } from 'vue';
import { useAccountStore } from '@/stores/account';


onMounted(async () => {
    await accountStore.getAccounts()
    window.scrollTo(0, 0);
})
const router = useRouter();

const accountStore = useAccountStore()

// ใหม่
const items = ref([
    { title: 'Profile', icon: 'mdi-account', route: '/profilemanage' },
    { title: 'Status', icon: 'mdi-playlist-check', route: '/statusmanage' },
    { title: 'Logout', icon: 'mdi-logout', route: '/loginview' },
]);
// ใหม่

const handleMenuItemClick = (item: { route: RouteLocationRaw; }) => {
    // Handle navigation based on the clicked item
    router.push(item.route);
};

</script>
<template>
    <v-app-bar>

        <v-toolbar dark color="grey-darken-3">

            <!-- Icon -->
            <v-toolbar-title class="white--text">
                <div class="d-flex">

                    <!-- วงกลม Icon -->
                    <router-link to="/homevisitview">
                        <div class="pa-2 bg-red-darken-4 rounded-circle d-inline-block">

                            <!-- image Icon -->
                            <v-avatar size="35" rounded="">
                                <v-img src="/public/Icondumbel.png"></v-img>
                            </v-avatar>

                        </div>
                    </router-link>
                    <!-- วงกลม Icon -->

                    <p class="text-h4 font-weight-black pl-5 pt-1" style="font-family: 'MitrMedium'">PUNSOOK</p>
                </div>
            </v-toolbar-title>

            <!-- Toolbar -->
            <v-toolbar-items class="hidden-sm-and-down text-center">

                <!-- tab ด้านหลัง -->
                <div class="px-16 mt-3 mb-3 bg-grey-darken-1 rounded-pill text-h4" style="font-family: 'MitrRegular'">
                    <v-btn variant="plain" to="/homevisitview">
                        <h2>หน้าแรก</h2>
                    </v-btn>
                    <v-btn variant="plain" to="/membershipvisit">
                        <h3>สมาชิก</h3>
                    </v-btn>
                    <v-btn variant="plain" to="/classbookingvisit">
                        <h2>จองคลาส</h2>
                    </v-btn>
                </div>
                <!-- tab ด้านหลัง -->

            </v-toolbar-items>

            <!-- Logout -->
            <v-toolbar-title class="white--text">
                <div class="text-right" style="padding: 0 16px;">
                    
                        
                            <v-btn rounded variant="flat" color="red-darken-4" to="/loginview"
                                style="font-family: 'MitrRegular'">
                                SIGN IN
                                
                            </v-btn>
                        
                    
                </div>
            </v-toolbar-title>

        </v-toolbar>

    </v-app-bar>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>