<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import ClassBooking from '@/components/members/ClassBooking.vue';
import { computed, onMounted, ref } from 'vue';
import TrainerHeader from '@/headers/TrainerHeader.vue';
import { usePtStore } from '@/stores/pt';
import { useTrainerStore } from '@/stores/trainer';

onMounted(async () => {
  await trainerStore.getTrainers();
  window.scrollTo(0, 0);
})

const completedDialog = ref(false);
const trainerStore = useTrainerStore();
const ptStore = usePtStore();

const trainerNames = computed(() => {
  return trainerStore.trainer.map(trainer => trainer.trainer_name);
});

const savePts = () => {
  // Your booking logic goes here
  // For now, let's just simulate a successful booking after confirmation
  ptStore.savePt();
  completedDialog.value = true;

};

const closeDialog = () => {
  completedDialog.value = false;
  location.replace("/ptmanage")
};


</script>

<template>
  <v-dialog v-model="completedDialog" persistent max-width="500" class="justify-center text-center">
    <v-card>
      <v-card-title class="text-h6 mt-8 justify-center text-center">

        <!-- BTN Book complete -->
        <div class="text-h6 justify-center text-center" style="font-family: 'MitrMedium'">
          Added class completed!
          <div>
            <v-avatar class="ma-3" size="125" rounded="">
              <v-img
                src="https://media.discordapp.net/attachments/1208070882317312031/1208150995977379891/image.png?ex=65e23d4b&is=65cfc84b&hm=69f62930351c37a2d494443fea2f3b4bccd2a82e91d295696d47dc2357edcf5c&=&format=webp&quality=lossless&width=640&height=640"></v-img>
            </v-avatar>
          </div>

          <!-- BTN Close -->
          <v-btn class="text-h5 justify-center text-center" color="red-darken-4" variant="outlined" @click="closeDialog"
            style="font-family: 'MitrRegular'">Close</v-btn>
        </div>
      </v-card-title>
    </v-card>
  </v-dialog>
  <v-dialog transition="dialog-top-transition" width="auto" height="auto" v-model="ptStore.dialog">
    <template v-slot:default="{ isActive }">
      <v-card width="500" style="font-family: 'MitrLight'">
        <!-- close -->
        <v-toolbar height="40" color="black" @click="isActive.value = false">
          <v-btn icon dark>
            <v-icon> mdi-close </v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text>
          <v-row>
            <v-col>
              <div>ID : </div>
            </v-col>
            <v-col>
              <div>
                <v-text-field variant="outlined" v-model="ptStore.editedPt.member"></v-text-field>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div>Duration : </div>
            </v-col>
            <v-col>
              <div><v-text-field variant="outlined" v-model.number="ptStore.editedPt.pt_duration"></v-text-field>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div>Trainer : </div>
            </v-col>
            <v-col>
              <div>
                <v-select :items="trainerNames" variant="outlined" v-model="ptStore.editedPt.pt_trainer"></v-select>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div></div>
            </v-col>
            <v-col>
              <div>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div></div>
            </v-col>
            <v-col>
              <div>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div></div>
            </v-col>
            <v-col>
              <div>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div></div>
            </v-col>
            <v-col>
              <div>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div></div>
            </v-col>
            <v-col>
              <div>
              </div>
            </v-col>
          </v-row>
          <v-container class="d-flex justify-center">
            <v-col>
              <v-btn color="green" @click="savePts">Save</v-btn>
            </v-col>
          </v-container>
        </v-card-text>
      </v-card>
    </template>
  </v-dialog>
</template>
