<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import ClassBooking from '@/components/members/ClassBooking.vue';
import { onMounted } from 'vue';
import VisitHeader from '@/headers/VisitHeader.vue';

onMounted(() => {
  window.scrollTo(0, 0);
})

</script>

<template>
  <v-layout class="bg-grey-darken-3">
    <VisitHeader></VisitHeader>
    <v-main class="text-center align-center justify-center">

      <v-row class="text-center align-center justify-center px-16 ml-16 mr-16 pt-7">
        <v-img src="/public/paihisud.png" height="400" cover class="rounded-t-xl rounded-b-xl align-center">
          <div class="text-center">
            <p class="text-h2" style="font-family: 'MitrRegular'">ไปให้สุดในแบบของคุณ</p>
            <p class="text-h5 mt-10" style="font-family: 'MitrLight'">ท้าทายความทนทาน ความว่องไว และความแข็งแกร่ง
              และผลักดันตัวเองไปให้ไกลกว่าเดิม</p>
          </div>
        </v-img>
      </v-row>

      <v-row class="text-center mt-16 align-center">
        <v-container class="d-flex align-center justify-center">

          <v-col cols="12" md="4">
            <p class="text-h5 " style="font-family: 'MitrRegular'">เปิดตลอด 24 ชั่วโมง</p>
            <v-img :width="250" aspect-ratio="1/1" cover class="mt-7 ml-14" src="/public/247.png">
            </v-img>
          </v-col>

          <v-col cols="12" md="4">
            <v-img :width="250" aspect-ratio="1/1" cover class="mt-7 ml-14" src="/public/line.png">
            </v-img>
          </v-col>

          <v-col cols="12" md="4">
            <p class="text-h5" style="font-family: 'MitrRegular'">ราคาที่สมเหตุสมผลและเข้าถึงได้</p>
            <v-img :width="250" aspect-ratio="1/1" cover class="mt-7 ml-14" src="/public/price.png">
            </v-img>
          </v-col>

        </v-container>
      </v-row>

      <v-row class="text-center mt-16 align-center">
        <v-container class="d-flex align-center justify-center">

          <v-col cols="12" md="6" class="ml-n16">
            <v-img :width="400" height="400" aspect-ratio="1/1" cover
              class="ml-n8 rounded-t-xl rounded-b-xl align-center mt-7" src="/public/dumbel.png">
            </v-img>
          </v-col>

          <v-col cols="12" md="6">
            <p class="text-h2 text-left" style="font-family: 'MitrSemiBold'">ทำไมต้องเลือกเรา</p>
            <p class="text-h5 text-left mt-3 mb-10" style="font-family: 'MitrMedium'">ตอบโจทย์ทุกความต้องการของคุณ
              ด้วยความสะดวกสบายในราคาไม่แพง</p>
            <p class="text-h5 text-left mt-3 mb-5" style="font-family: 'MitrRegular'">▸ เปิดให้บริการตลอด 24 ชั่วโมง</p>
            <p class="text-h5 text-left mt-3 mb-5" style="font-family: 'MitrRegular'">▸ ไม่มีเงื่อนไขผูกมัด</p>
            <p class="text-h5 text-left mt-3 mb-5" style="font-family: 'MitrRegular'">▸ อุปกรณ์ทันสมัย ครบครัน</p>
            <p class="text-h5 text-left mt-3" style="font-family: 'MitrRegular'">▸ เข้าคลาสได้ไม่จำกัด</p>

          </v-col>

        </v-container>
      </v-row>

      <v-row class="px-16 ml-16 mr-16 mt-16">
        <v-img src="/public/luktum.png" height="400" cover class="rounded-t-xl rounded-b-xl align-center">
          <div class="text-center">
            <p class="text-h2" style="font-family: 'MitrRegular'">ได้รับแรงบันดาลใจและไปต่อให้สุด</p>
          </div>
        </v-img>
        <p class="text-h5 text-left mt-3 pt-3" style="font-family: 'MitrLight'">
          และนี่คือสิ่งที่คุณจะได้รับหากคุณตัดสินใจเริ่มออกกำลังกายกับเราวันนี้
          <v-btn rounded variant="flat" color="white" class="text-red-darken-4 text-subtitle-1 ml-5"
            style="font-family: 'MitrLight'" to="/membershipvisit">
            สมาชิกของเรา
          </v-btn>
        </p>
      </v-row>

      <v-row class="px-16 ml-16 mr-16 mt-16 mb-16">
        <v-img src="/public/ball.png" height="400" cover class="rounded-t-xl rounded-b-xl align-center">
          <div class="text-center">
            <p class="text-h2" style="font-family: 'MitrRegular'">เติมความสนุกให้กับตัวคุณเองด้วยคลาส</p>
          </div>
        </v-img>
        <p class="text-h5 text-left mt-3 pt-3" style="font-family: 'MitrLight'">
          สิ่งที่ยากที่สุดคือการตัดสินใจว่าจะเลือกคลาสไหนเป็นคลาสแรก
          <v-btn rounded variant="flat" color="white" class="text-red-darken-4 text-subtitle-1 ml-5" to="/classbookingvisit"
            style="font-family: 'MitrLight'">
            จองคลาส
          </v-btn>
        </p>
      </v-row>



    </v-main>


  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src:
    url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrExtraLight';
  src:
    url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrLight';
  src:
    url('Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrMedium';
  src:
    url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrRegular';
  src:
    url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrSemiBold';
  src:
    url('Mitr-SemiBold.ttf') format('truetype');
}
</style>