<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import ClassBooking from '@/components/members/ClassBooking.vue';
import { onMounted, ref } from 'vue';
import MemberHeader from '@/headers/MemberHeader.vue';
import { useAccountStore } from '@/stores/account';

onMounted(async () => {
    await accountStore.getAccounts()
    window.scrollTo(0, 0);
})
const accountStore = useAccountStore();
const accountPhone = ref('');
const accountPassword = ref('');

function login() {
    accountStore.login(accountPhone.value, accountPassword.value);
}

</script>

<template>
    <v-toolbar-title class="white--text bg-black">
            <div class="d-flex">

                <!-- วงกลม Icon -->
                <router-link to="/homevisitview">
                    <div class="pa-2 bg-red-darken-4 rounded-circle d-inline-block mt-2 ml-4">

                        <!-- image Icon -->
                        <v-avatar size="35" rounded="">
                            <v-img src="/public/Icondumbel.png"></v-img>
                        </v-avatar>

                    </div>
                </router-link>
                <!-- วงกลม Icon -->

                <p class="text-h4 font-weight-black pl-5 pt-1 text-white mt-2" style="font-family: 'MitrMedium'">
                    PUNSOOK</p>
            </div>
        </v-toolbar-title>
    <v-sheet class="pa-12"  height="100vh"
        style="background-image: url('/public/efubjswun2dd.png'); background-size: cover; background-position: center;">


        <h1 class="text-white text-center mt-12" style="font-family: 'MitrMedium'">Welcome back</h1>
        <h2 class="text-white text-center" style="font-family: 'MitrExtraLight'">Gym Member!</h2>
        <h4 class="text-white text-center mt-6" style="font-family: 'MitrExtraLight'">Enter your details to sign in or
            press sign up</h4>
        <v-card class="mx-auto px-6 py-8 mt-16 rounded-t-xl rounded-b-xl" max-width="500">
            <v-form max-width="500">
                <v-text-field v-model="accountPhone" placeholder="Enter your email" label="Email" variant="outlined"
                    rounded="xl" style="font-family: 'MitrMedium'"></v-text-field>

                <v-text-field v-model="accountPassword" label="Password" placeholder="Enter your password"
                    variant="outlined" rounded="xl" type="password" style="font-family: 'MitrMedium'"></v-text-field>

                <br>

                <v-btn color="red-darken-4" size="large" type="submit" variant="elevated" block rounded="xl"
                    @click="login">
                    <div class="pa-1 bg-white rounded-t-xl rounded-b-xl text-red-darken-4"
                        style="font-family: 'MitrLight'">
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Sign In⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                    </div>

                </v-btn>
                <br>
                    <div class="pa-1 bg-white rounded-t-xl rounded-b-xl text-red-darken-4 text-center"
                        style="font-family: 'MitrLight'">
                        <RouterLink to="/regisview" class="text-black"> Sign Up </RouterLink>
                    </div>
               
            </v-form>
        </v-card>
    </v-sheet>
</template>


<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>