<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import ClassBooking from '@/components/members/ClassBooking.vue';
import { onMounted, ref } from 'vue';
import MemberHeader from '@/headers/MemberHeader.vue';
import { useAccountStore } from '@/stores/account';

onMounted(async () => {
    await accountStore.getAccounts()
    window.scrollTo(0, 0);
})
const accountStore = useAccountStore();
const accountPhone = ref('');
const accountPassword = ref('');

function login() {
    accountStore.login(accountPhone.value, accountPassword.value);
}

</script>

<template>
    <v-toolbar-title class="white--text bg-white">
        <div class="d-flex">

            <!-- วงกลม Icon -->
            <router-link to="/homevisitview">
                <div class="pa-2 bg-red-darken-4 rounded-circle d-inline-block mt-2 ml-4">

                    <!-- image Icon -->
                    <v-avatar size="35" rounded="">
                        <v-img src="/public/Icondumbel.png"></v-img>
                    </v-avatar>

                </div>
            </router-link>
            <!-- วงกลม Icon -->

            <p class="text-h4 font-weight-black pl-5 pt-1 text-black mt-2" style="font-family: 'MitrMedium'">
                PUNSOOK</p>
        </div>
    </v-toolbar-title>
    <v-sheet class="pa-12" height="100vh">
        <v-img src="/public/pngimg.com - fitness_PNG37.png">

            <div class="ml-16">
                <div class="ml-16">
                        <div class="ml-10">
                            <h1 class="text-black mt-12 ml-16" style="font-family: 'MitrMedium'">ลงทะเบียน</h1>
                        </div>
                </div>
            </div>



            <v-card class="mx-auto px-6 py-8 mt-16 ml-16 rounded-t-xl rounded-b-xl" max-width="500" variant="tonal"> 
                <v-form max-width="500">
                    <v-text-field placeholder="Enter your name" label="Name" variant="outlined" rounded="xl"
                        style="font-family: 'MitrMedium'"></v-text-field>
                    <v-text-field placeholder="Enter your email" label="Email" variant="outlined" rounded="xl"
                        style="font-family: 'MitrMedium'"></v-text-field>

                    <v-text-field label="Password" placeholder="Enter your password" variant="outlined" rounded="xl"
                        type="password" style="font-family: 'MitrMedium'"></v-text-field>

                    <br>

                    <v-btn color="red-darken-4" size="large" type="submit" variant="elevated" block rounded="xl">
                        <div class="pa-1 bg-white rounded-t-xl rounded-b-xl text-red-darken-4"
                            style="font-family: 'MitrLight'">
                            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Sign Up⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        </div>

                    </v-btn>
                    <br>
                    <div class="text-red-darken-4 text-center" style="font-family: 'MitrLight'">
                        <RouterLink class="text-black" to="/loginview">Sign In</RouterLink>
                    </div>
                </v-form>
            </v-card>
        </v-img>
    </v-sheet>
</template>


<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>