<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue';
import { RouterLink, RouterView, useRoute, useRouter } from 'vue-router'
import ClassBooking from '@/components/members/ClassBooking.vue';
import { useClassStore } from '@/stores/class';
import { useTrainerStore } from '@/stores/trainer';
import { useStatusStore } from '@/stores/status';
import router from '@/router';
import MemberHeader from '@/headers/MemberHeader.vue';

onMounted(async () => {
    await classStore.getClasses();
})
const classStore = useClassStore();
const statusStore = useStatusStore();



const route = useRoute();
const selectedId = computed(() => route.params.id);

const selectedClass = computed(() => {
    const id = selectedId.value;
    return classStore.classes.find(item => {
        if (Array.isArray(id)) {
            return id.includes(item.classes_id!.toString());
        } else {
            return item.classes_id!.toString() === id;
        }
    });
})

const dialog = ref(false)

const bookingCompleted = ref(false);

const confirmBooking = (classes_id: number) => {
    // Your booking logic goes here
    // For now, let's just simulate a successful booking after confirmation
    statusStore.saveStatus(selectedClass.value!.classes_id!)
    bookingCompleted.value = true;

};

const closeDialog = () => {
    dialog.value = false;
    location.replace("/classbooking")
};

</script>

<template>
    <v-layout class="pa-lg-10">
        <MemberHeader></MemberHeader>
        <v-main v-if="selectedClass">

            <div class="d-flex ma-2 pl-7">
                <p class="text-h5" style="font-family: 'MitrRegular'">คลาส :</p>
                <p class="text-h5 font-weight-black pl-4" style="font-family: 'MitrSemiBold'">{{
            selectedClass?.classes_name
        }}</p>
            </div>

            <div class="d-flex pa-4 text-center">
                <!-- image -->
                <v-avatar class="ma-5" size="300" rounded="">
                    <v-img src="/public/Fitness Class Participation.jpg">
                    </v-img>
                </v-avatar>

                <div class="mt-4">

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Type :</div>
                        </v-col>
                        <v-col class="ml-n16">
                            <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'"> {{
                selectedClass?.classes_activity }}</div>
                        </v-col>
                    </v-row>

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Booking Time :</div>
                        </v-col>
                        <v-col class="ml-n16">
                            <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{
            selectedClass?.classes_time }}
                            </div>
                        </v-col>
                    </v-row>

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Room :</div>
                        </v-col>
                        <v-col class="ml-n16">
                            <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{
            selectedClass?.classes_room }}
                            </div>
                        </v-col>
                    </v-row>

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Trainer :</div>
                        </v-col>
                        <v-col class="ml-n16">
                            <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{
            selectedClass?.classes_trainer }}</div>
                        </v-col>
                    </v-row>

                    <div class="d-flex">
                        <p class="text-h6 font-weight-bold text-left pl-15">
                            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        </p>
                    </div>

                </div>

            </div>

            <div class="pt-9 text-right">

                <v-btn class="text-h5 bg-brown-lighten-1 text-black" to="/classbooking"
                    style="font-family: 'MitrRegular'">
                    Back
                </v-btn>

                <!-- Dialog -->
                <v-dialog v-model="dialog" persistent max-width="500" class="justify-center text-center">
                    <template v-slot:activator="{ props }">
                        <v-btn class="text-h5 bg-green-lighten-2 ml-16 mr-16 justify-center text-center" v-bind="props"
                            @click="dialog = true" style="font-family: 'MitrRegular'">
                            Book
                        </v-btn>
                    </template>

                    <v-card>
                        <v-card-title class="text-h6 mt-8 justify-center text-center">
                            <template v-if="!bookingCompleted">
                                <div class="text-h6 justify-center text-center" style="font-family: 'MitrMedium'">
                                    Do you want to proceed with the booking?
                                </div>
                            </template>

                            <!-- BTN Book complete -->
                            <template v-else>
                                <div class="text-h6 justify-center text-center" style="font-family: 'MitrMedium'">
                                    Booking completed!
                                    <div>
                                        <v-avatar class="ma-3" size="125" rounded="">
                                            <v-img src="/public/finish.png"></v-img>
                                        </v-avatar>
                                    </div>

                                    <!-- BTN Close -->
                                    <v-btn class="text-h5 justify-center text-center" color="red-darken-4"
                                        variant="outlined" @click="closeDialog"
                                        style="font-family: 'MitrRegular'">Close</v-btn>
                                </div>
                            </template>
                        </v-card-title>

                        <v-card-actions class="text-h5 justify-space-around mt-5" style="font-family: 'MitrRegular'">
                            <v-btn v-if="!bookingCompleted" color="red-darken-4" variant="outlined"
                                @click="dialog = false">
                                Cancel
                            </v-btn>
                            <v-btn v-if="!bookingCompleted" color="green-lighten-2" variant="flat"
                                @click="confirmBooking">
                                Confirm
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>

        </v-main>

    </v-layout>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
