<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { RouterLink, RouterView } from 'vue-router'
import ClassView from '@/components/members/ClassView.vue';
import { useClassStore } from '@/stores/class';
import MemberHeader from '@/headers/MemberHeader.vue';

onMounted(async () => {
    await classStore.getClasses();
    window.scrollTo(0, 0);
})
const classStore = useClassStore();
const dialog = ref(false);

const openDialog = () => {
    dialog.value = true;
};

const closeDialog = () => {
    dialog.value = false;
};
</script>

<template>
    <v-layout class="pa-lg-10 ">
        <MemberHeader></MemberHeader>
        <v-main>
            <v-dialog v-model="dialog" max-height="700" max-width="500" class="justify-center text-center">
                <v-card >
                    <!-- TN Book complete -->
                    <div></div>
                    <div class="text-h6 justify-center text-center mt-16 mb-14" style="font-family: 'MitrMedium'">
                       Sorry, This class is unavailable right now
                        <div>
                            <v-avatar class="ma-3" size="125" rounded="">
                                <v-img
                                    src="/public/sorryimg.png"></v-img>
                            </v-avatar>
                        </div>

                        <!-- BTN Close -->
                        <v-btn class="text-h5 justify-center text-center" color="red-darken-4" variant="outlined"
                            @click="closeDialog" style="font-family: 'MitrRegular'">Close</v-btn>
                    </div>
                </v-card>
            </v-dialog>
            <v-container>
                <v-row>
                    <v-col cols="12" md="4" v-for="item of classStore.classes" :key="item.classes_id">
                        <v-card color="#FFFFFF" max-width="400"
                            class="rounded-t-xl rounded-b-xl text-h5 justify-center text-center mb-8" elevation="10">

                            <div class="pa-4 bg-red-darken-4 rounded-t-xl text-h5 justify-center text-center"
                                style="font-family: 'MitrMedium'">
                                {{ item.classes_name }}
                            </div>

                            <div class="d-flex pa-4 justify-center text-center">
                                <!-- image -->
                                <v-avatar class="ma-3" size="125" rounded="">
                                    <v-img src="/public/Fitness Class Participation.jpg">
                                    </v-img>
                                </v-avatar>

                                <div>
                                    <v-card-text class="text-subtitle-1 justify-center text-center"
                                        style="font-family: 'MitrLight'">{{ item.classes_time!.split(' ')[1] }} - {{
                item.classes_time!.split(' ')[3] }}</v-card-text>

                                    <template v-if="item.classes_qty < 10">
                                        <v-btn class="bg-green-lighten-2 text-subtitle-1 justify-center text-center"
                                            style="font-family: 'MitrRegular'" color="white"
                                            @click="$router.push(`/classview/${item.classes_id}`)">จอง</v-btn>
                                    </template>
                                    <template v-else>
                                        <v-btn class="bg-red-darken-4 text-subtitle-1 justify-center text-center"
                                            style="font-family: 'MitrRegular'" color="white"
                                            @click="openDialog()">เต็ม</v-btn>
                                    </template>

                                    <v-card-text class="text-subtitle-1 justify-center text-center"
                                        style="font-family: 'MitrLight'">Room {{
                                        item.classes_room}} : [ {{ item.classes_qty}}/10
                                        ]</v-card-text>

                                </div>
                            </div>

                        </v-card>

                    </v-col>
                </v-row>


            </v-container>

        </v-main>

    </v-layout>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
