<script setup lang="ts">
import MemberHeader from '@/headers/MemberHeader.vue';
import trainer from '@/services/trainer';
import { useTrainerStore } from '@/stores/trainer';
import { onMounted, ref } from 'vue';

onMounted(async () => {
    await trainerStore.getTrainers();
    window.scrollTo(0, 0);
})
const trainerStore = useTrainerStore();

// const profiletrainer = ref([
//     {
//         name: 'Nene',
//         tel: '0941234561',
//         face: 'Trainer Nene',
//         email: 'nene.1@gmail.com',
//     }
// ]);
</script>
<template>
    <v-layout class="pa-lg-10">
<MemberHeader></MemberHeader>
        <v-main>

            <v-container>
                <v-row>

                    <v-col cols="12" md="4 " v-for="item of trainerStore.trainer" :key="item.trainer_id">
                        <v-card color="#FFFFFF" max-width="1000"
                            class="rounded-t-xl rounded-b-xl text-h5 justify-center text-center mb-8" elevation="10">

                            <div class="bg-red-darken-4 rounded-t-xl rounded-b-xl">
                                <!-- image -->
                                <v-avatar size="380" class="rounded-t-xl rounded-b-xl">
                                    <v-img
                                    src="/public/male-vector-training.png">
                                </v-img>
                                </v-avatar>
                            </div>

                            <div class="d-flex pa-4">

                                <div>
                                    <v-row>
                                        <v-col d-flex class="text-left">
                                            <div class="text-subtitle-1" style="font-family: 'MitrMedium'">Trainer : </div>
                                        </v-col>
                                        <v-col class="text-left ml-n16">
                                            <div class="text-subtitle-1 text-left ml-n6" style="font-family: 'MitrLight'">{{
                                                item.trainer_name
                                            }}</div>
                                        </v-col>
                                    </v-row>
                                    <v-row class="mt-n8">
                                        <v-col d-flex class="text-left">
                                            <div class="text-subtitle-1" style="font-family: 'MitrMedium'">Tel : </div>
                                        </v-col>
                                        <v-col class="text-left ml-n16">
                                            <div class="text-subtitle-1 text-left ml-n6" style="font-family: 'MitrLight'">{{
                                                item.trainer_phone
                                            }}</div>
                                        </v-col>
                                    </v-row>
                                    <v-row class="mt-n8">
                                        <v-col d-flex class="text-left">
                                            <div class="text-subtitle-1" style="font-family: 'MitrMedium'">Facebook : </div>
                                        </v-col>
                                        <v-col class="text-left ml-n16">
                                            <div class="text-subtitle-1 text-left ml-n6" style="font-family: 'MitrLight'">{{
                                                item.trainer_facebook
                                            }}</div>
                                        </v-col>
                                    </v-row>
                                    <v-row class="mt-n8">
                                        <v-col d-flex class="text-left">
                                            <div class="text-subtitle-1" style="font-family: 'MitrMedium'">Email : </div>
                                        </v-col>
                                        <v-col class="text-left ml-n16">
                                            <div class="text-subtitle-1 text-left ml-n6" style="font-family: 'MitrLight'">{{
                                                item.trainer_email
                                            }}</div>
                                        </v-col>
                                    </v-row>
                                    <div class="d-flex mb-n8">
                                        <p class="text-h6 text-left pl-15">
                                            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </v-card>

                    </v-col>
                </v-row>


            </v-container>

        </v-main>

    </v-layout>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>