<script lang="ts" setup>
import { ref } from 'vue';
import { RouterLink, RouterView } from 'vue-router'
import ClassBooking from '@/components/members/ClassBooking.vue';
import MemberHeader from '@/headers/MemberHeader.vue';


const dialog = ref(false)

const bookingCompleted = ref(false);

const confirmBooking = () => {
  bookingCompleted.value = true;
};

const closeDialog = () => {
  dialog.value = false;
};

const idnumber = ref([
  { id: '000001', }
])

const profile = ref([
  {
    name: 'Nawapat Seehabut',
    gender: '',
    dateofbirth: '',
    age: '',
    phone: '0625204648',
    email: '64160136@go.buu.ac.th',
    address: '',
    startdate: '02/11/2022',
    password: '**********',
  }
]);

const editprofile = ref([
  {
    name: 'Nawapat Seehabut',
    gender: '',
    dateofbirth: '',
    age: '',
    phone: '0625204648',
    email: '64160136@go.buu.ac.th',
    address: '',
    startdate: '02/11/2022',
    password: '**********',
  }
]);
</script>



<template>
  <v-layout class="pa-lg-10">
<MemberHeader></MemberHeader>
    <v-main>

      <div class="ma-2 pl-7">

        <div class="d-flex">
          <p class="text-h4 font-weight-black pl-4" style="font-family: 'MitrMedium'">My Profile</p>
          <v-spacer></v-spacer>

          <v-btn class="text-h5 bg-orange-lighten-3 text-black mr-5 rounded-pill" to="">
            <p>⠀</p>
            <v-icon>mdi-pencil-outline</v-icon>
            <p>⠀</p>
          </v-btn>
        </div>

        <p class="text-h5 pl-4 pt-3" v-for="item in idnumber" :key="item.id" style="font-family: 'MitrRegular'">ID {{ item.id }}</p>
      </div>

      <div class="d-flex pa-4 text-center">

        <!-- icon -->
        <v-avatar class="ma-5" size="300" rounded="">
          <v-img 
            src="/public/imageProfile.png">
          </v-img>
        </v-avatar>

        <div v-for="item in profile" :key="item.name">

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Name :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.name }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Gender :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.gender }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Date of Birth :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.dateofbirth }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Age :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.age }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Phone :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.phone }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Email :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.email }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Address :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.address }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12 mt-16">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Start date :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.startdate }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Password :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ item.password }}</div>
            </v-col>
          </v-row>

          <div class="d-flex">
            <p class="text-h6 font-weight-bold text-left pl-15">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
          </div>
        </div>
      </div>

    </v-main>

  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src: 
       url('Mitr-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'MitrExtraLight';
  src: 
       url('Mitr-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'MitrLight';
  src: 
       url('Mitr-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'MitrMedium';
  src: 
       url('Mitr-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'MitrRegular';
  src: 
       url('Mitr-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MitrSemiBold';
  src: 
       url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
  
