<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue';
import { RouterLink, RouterView, useRoute, useRouter } from 'vue-router'
import ClassBooking from '@/components/members/ClassBooking.vue';
import { useClassStore } from '@/stores/class';
import { useTrainerStore } from '@/stores/trainer';
import { useStatusStore } from '@/stores/status';
import router from '@/router';
import MemberHeader from '@/headers/MemberHeader.vue';
import TrainerHeader from '@/headers/TrainerHeader.vue';

onMounted(async () => {
    await classStore.getClasses();
    await trainerStore.getTrainers();
})
const classStore = useClassStore();
const statusStore = useStatusStore();
const trainerStore = useTrainerStore();

const route = useRoute();
const selectedId = computed(() => route.params.id);

const selectedClass = computed(() => {
    const id = selectedId.value;
    return classStore.classes.find(item => {
        if (Array.isArray(id)) {
            return id.includes(item.classes_id!.toString());
        } else {
            return item.classes_id!.toString() === id;
        }
    });
})

const dialog = ref(false)

const bookingCompleted = ref(false);

const saveClass = () => {
    // Your booking logic goes here
    // For now, let's just simulate a successful booking after confirmation
    classStore.saveClass();
    dialog.value = true;

};

const closeDialog = () => {
    dialog.value = false;
    location.replace("/classmanage")
};

const trainerNames = computed(() => {
  return trainerStore.trainer.map(trainer => trainer.trainer_name);
});

</script>

<template>
    <v-layout class="pa-lg-10">
<TrainerHeader></TrainerHeader>
        <v-main >
            <v-dialog v-model="dialog" persistent max-width="500"
                                            class="justify-center text-center"
                                            
                                            >
                                            <v-card >
                                                <v-card-title class="text-h6 mt-8 justify-center text-center">

                                                    <!-- BTN Book complete -->
                                                        <div class="text-h6 justify-center text-center"
                                                            style="font-family: 'MitrMedium'">
                                                            Added class completed!
                                                            <div>
                                                                <v-avatar class="ma-3" size="125" rounded="">
                                                                    <v-img
                                                                        src="https://media.discordapp.net/attachments/1208070882317312031/1208150995977379891/image.png?ex=65e23d4b&is=65cfc84b&hm=69f62930351c37a2d494443fea2f3b4bccd2a82e91d295696d47dc2357edcf5c&=&format=webp&quality=lossless&width=640&height=640"></v-img>
                                                                </v-avatar>
                                                            </div>

                                                            <!-- BTN Close -->
                                                            <v-btn class="text-h5 justify-center text-center"
                                                                color="red-darken-4" variant="outlined"
                                                                @click="closeDialog"
                                                                style="font-family: 'MitrRegular'">Close</v-btn>
                                                        </div>
                                                </v-card-title>
                                            </v-card>
                                        </v-dialog>
            <div class="d-flex ma-2 pl-7">
                <p class="text-h5" style="font-family: 'MitrRegular'">จัดการคลาส :</p>
                <p class="text-h5 font-weight-black pl-4" style="font-family: 'MitrMedium'">เพิ่ม</p>
            </div>

            <div class="d-flex pa-4 text-center">
                <!-- image -->
                <v-avatar class="ma-5" size="300" rounded="">
                    <v-img
                        src="https://cdn.discordapp.com/attachments/1208070882317312031/1214153612113223680/image.png?ex=65f813ab&is=65e59eab&hm=90c8e557ba98945eb1cd6dd8548565b36868e0cceb46ac0c5eb995c599a989b1&"></v-img>
                </v-avatar>

                <div class="mt-4">

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Booking Time :</div>
                        </v-col>
                        <v-col>
                            <div>
                                <v-text-field
                            label="xx/xx/xxxx xx:xx - xx:xx"
                            variant="outlined"
                            v-model="classStore.editedClasses.classes_time"
                                ></v-text-field>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Room :</div>
                        </v-col>
                        <v-col>
                            <div>
                                <v-select
                              :items="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                              variant="outlined"
                              v-model="classStore.editedClasses.classes_room"
                              ></v-select>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Trainer :</div>
                        </v-col>
                        <v-col>
                            <div>
                                <v-select
                                :items="trainerNames"
                              variant="outlined"
                              v-model="classStore.editedClasses.classes_trainer"
                              ></v-select>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row class="text-left ml-12">
                        <v-col>
                            <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Activity :</div>
                        </v-col>
                        <v-col>
                            <div>
                                <v-select
                                :items="['BOXING', 'WEIGHT' , 'CARDIO' , 'PILATES' , 'GYM BALL', 'AEROBIC']"
                              variant="outlined"
                              v-model="classStore.editedClasses.classes_name"
                              ></v-select>
                            </div>
                        </v-col>
                    </v-row>

                    <div class="d-flex">
                        <p class="text-h6 font-weight-bold text-left pl-15">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        </p>
                    </div>

                </div>

            </div>

            <div class="pt-9 text-right">

                <v-btn class="text-h5 bg-brown-lighten-1 text-black" to="/classmanage" style="font-family: 'MitrRegular'">
                    Back
                </v-btn>
                <v-btn class="text-h5 bg-green-lighten-2 ml-16 mr-16 justify-center text-center" 
                         style="font-family: 'MitrRegular'" 
                         @click="saveClass">
                            Save
                        </v-btn>
            </div>

        </v-main>

    </v-layout>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}</style>
  
