<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { RouterLink, RouterView } from 'vue-router'
import ClassView from '@/components/members/ClassView.vue';
import { useClassStore } from '@/stores/class';
import MemberHeader from '@/headers/MemberHeader.vue';
import TrainerHeader from '@/headers/TrainerHeader.vue';
import { id } from 'vuetify/locale';

onMounted(async () => {
    await classStore.getClasses();
    window.scrollTo(0, 0);
})
const classStore = useClassStore();
const dialog = ref(false);

const openDialog = () => {
    dialog.value = true;
};



const delCompleted = ref(false);
const confirmDel = (classes_id: number) => {
    // Your booking logic goes here
    // For now, let's just simulate a successful booking after confirmation
    classStore.deleteClass(classes_id)
    delCompleted.value = true;

};

const closeDialog = () => {
    dialog.value = false;
    location.replace("/classmanage")
};
</script>

<template>
    <v-layout class="pa-lg-10 ">
        <TrainerHeader></TrainerHeader>
        <v-main>
            <div class="d-flex ma-2 pl-7">
                <p class="text-h4 font-weight-black" style="font-family: 'MitrMedium'">จัดการคลาส</p>
                <v-spacer></v-spacer>
                <!-- BTN SUCCESS -->
            </div>

            <div>
                <v-btn color="white" class="mr-12 text-subtitle-1 rounded-pill ma-2 ml-8"
                    style="font-family: 'MitrRegular'" to="/classadd">
                    เพิ่ม
                </v-btn>
            </div>
            <v-container>

                <v-row>

                    <v-col cols="12" md="4" v-for="item of classStore.classes" :key="item.classes_id">
                        <v-dialog v-model="dialog" persistent max-width="500"
                                            class="justify-center text-center"
                                            
                                            >
                                            <v-card >
                                                <v-card-title class="text-h6 mt-8 justify-center text-center">

                                                    <template v-if="!delCompleted">
                                                        <div class="text-h6 justify-center text-center"
                                                            style="font-family: 'MitrMedium'">
                                                            Do you want to delete this class ?
                                                        </div>
                                                    </template>

                                                    <!-- BTN Book complete -->

                                                    <template v-else>
                                                        <div class="text-h6 justify-center text-center"
                                                            style="font-family: 'MitrMedium'">
                                                            Delete completed!
                                                            <div>
                                                                <v-avatar class="ma-3" size="125" rounded="">
                                                                    <v-img
                                                                        src="/public/finish.png"></v-img>
                                                                </v-avatar>
                                                            </div>

                                                            <!-- BTN Close -->
                                                            <v-btn class="text-h5 justify-center text-center"
                                                                color="red-darken-4" variant="outlined"
                                                                @click="closeDialog"
                                                                style="font-family: 'MitrRegular'">Close</v-btn>
                                                        </div>
                                                    </template>
                                                </v-card-title>

                                                <v-card-actions class="text-h5 justify-space-around mt-5"
                                                    style="font-family: 'MitrRegular'"
                                                    >
                                                    <v-btn v-if="!delCompleted" color="red-darken-4" variant="outlined"
                                                        @click="dialog = false">
                                                        Cancel
                                                    </v-btn>
                                                    <v-btn v-if="!delCompleted" color="green-lighten-2" variant="flat"
                                                        @click="confirmDel(item.classes_id!)">
                                                        Confirm
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                        <v-card color="#FFFFFF" max-width="400"
                            class="rounded-t-xl rounded-b-xl text-h5 justify-center text-center mb-8" elevation="10">

                            <div class="pa-4 bg-red-darken-4 rounded-t-xl text-h5 justify-center text-center"
                                style="font-family: 'MitrMedium'">
                                {{ item.classes_name }}
                            </div>

                            <div class="d-flex pa-4 justify-center text-center">
                                <!-- image -->
                                <v-avatar class="ma-3" size="125" rounded="">
                                    <v-img
                                    src="/public/Fitness Class Participation.jpg">
                                    </v-img>
                                </v-avatar>

                                <div>
                                    <v-card-text class="text-subtitle-1 justify-center text-center"
                                        style="font-family: 'MitrLight'">{{ item.classes_time!.split(' ')[1] }} - {{
                        item.classes_time!.split(' ')[3] }}</v-card-text>

                                    <v-card-actions class="justify-center text-center">
                                        <v-btn class="bg-red-darken-1 text-subtitle-1 justify-center text-center"
                                            style="font-family: 'MitrRegular'" color="white"
                                            @click="dialog = true"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
                                    
                                        <v-btn class="bg-orange-lighten-2 text-subtitle-1 justify-center text-center"
                                            style="font-family: 'MitrRegular'" color="white"
                                            to="/classadd"><v-icon>mdi-pencil-outline</v-icon></v-btn>
                                    </v-card-actions>

                                    <v-card-text class="text-subtitle-1 justify-center text-center"
                                        style="font-family: 'MitrLight'">Room {{
                                        item.classes_room}} : [ {{ item.classes_qty}}/10
                                        ]</v-card-text>

                                </div>
                            </div>

                        </v-card>

                    </v-col>

                </v-row>


            </v-container>
            
            
        </v-main>
    </v-layout>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
