<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import ClassBooking from '@/components/members/ClassBooking.vue';
import { onMounted } from 'vue';
import VisitHeader from '@/headers/VisitHeader.vue';
import TrainerHeader from '@/headers/TrainerHeader.vue';

onMounted(() => {
    window.scrollTo(0, 0);
})

</script>

<template>
    <v-layout class="bg-grey-darken-3 mt-16">
        <TrainerHeader></TrainerHeader>
        <v-main class="text-center align-center justify-center">

            <v-row class="text-center align-center justify-center px-16 ml-16 mr-16 pt-7">
                <v-img src="/public/member.jpg" height="400" cover class="rounded-t-xl rounded-b-xl align-center">
                </v-img>
            </v-row>

            <p class="text-h2 mt-16" style="font-family: 'MitrRegular'">สิทธิประโยชน์สมาชิก</p>

            <v-row class="text-center align-center mb-7">
                <v-container class="d-flex align-center justify-center">

                    <v-col cols="12" md="4">
                        <v-img :width="250" aspect-ratio="1/1" cover class="mt-7 ml-14" src="/public/active.png">
                        </v-img>
                        <p class="text-h5 mt-5" style="font-family: 'MitrMedium'">เหมาะกับทุกไลฟ์สไตล์</p>
                        <p class="text-h5 " style="font-family: 'MitrRegular'">เข้าได้ทุกคลาสไม่จำกัด</p>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-img :width="250" aspect-ratio="1/1" cover class="mt-7 ml-14" src="/public/weightlifting.png">
                        </v-img>
                        <p class="text-h5 mt-5" style="font-family: 'MitrMedium'">จัดเต็มทุกอุปกรณ์</p>
                        <p class="text-h5 " style="font-family: 'MitrRegular'">อุปกรณ์ออกกำลังกายที่ครบครัน</p>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-img :width="250" aspect-ratio="1/1" cover class=" mt-7 ml-16 " src="/public/Strong.png">
                        </v-img>
                        <p class="text-h5 mt-5" style="font-family: 'MitrMedium'">ผู้เชี่ยวชาญ</p>
                        <p class="text-h5 " style="font-family: 'MitrRegular'">ผู้เชี่ยวชาญด้านฟิตเนสเฉพาะบุคคล</p>
                    </v-col>

                </v-container>
            </v-row>

            <v-row class="text-center align-center justify-center">
                <v-col cols="12" md="3" class="text-right">
                    <p class="text-h3 mt-16 text-red-darken-4" style="font-family: 'MitrSemiBold'">THB 1290 </p>
                </v-col>
                <v-col cols="12" md="3" class="text-left">
                    <p class="text-h3 mt-16 ml-14" style="font-family: 'MitrSemiBold'"> /month</p>
                </v-col>
            </v-row>
            <v-btn height="50" width="400" rounded variant="flat" color="red-darken-4"
                class="text-subtitle-1 mt-10 mb-10" to="/loginview" style="font-family: 'MitrLight'">
                <div class="pa-2 bg-white rounded-t-xl rounded-b-xl text-red-darken-4">
                    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀สมัครสมาชิก⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                </div>
            </v-btn>

            <div height="10" width="1000" class="mt-16">
                _____________________________________________________________________________________________________________________________________________________________
            </div>

            <v-row class="px-16 ml-16 mr-16 mt-16">
                <v-img src="/public/situp.jpg" height="400" cover class="rounded-t-xl rounded-b-xl align-center">
                    <div class="text-center">
                        <p class="text-h2" style="font-family: 'MitrRegular'">การฝึกซ้อมที่เน้นผลลัพธ์</p>
                    </div>
                </v-img>
            </v-row>

            <v-row class="px-16 ml-16 mr-16 mt-16">

                <v-col cols="12" md="6">
                    <p class="text-h2 text-left" style="font-family: 'MitrRegular'">เทรนเนอร์ของเราจะทำตามกฎสำคัญ 5 ข้อ
                    </p>

                    <v-row class="text-center mt-16">
                        <v-col cols="12" md="2">
                            <v-img src="/public/meditation.png" max-width="80" max-height="80" cover>
                            </v-img>
                            <p class="text-h7" style="font-family: 'MitrLight'">ท่าทาง</p>
                        </v-col>
                        <v-col cols="12" md="2" class="mt-16">
                            <v-img src="/public/female-fitness.png" max-width="100" max-height="100" cover
                                class="mt-16">
                            </v-img>
                            <p class="text-h7" style="font-family: 'MitrLight'">แข็งแรง</p>
                        </v-col>
                        <v-col cols="12" md="2">
                            <v-img src="/public/stretching.png" max-width="100" max-height="100" cover>
                            </v-img>
                            <p class="text-h7" style="font-family: 'MitrLight'">การเคลื่อนที่</p>
                        </v-col>
                        <v-col cols="12" md="2" class="mt-16">
                            <v-img src="/public/excercise.png" max-width="100" max-height="100" cover class="mt-16">
                            </v-img>
                            <p class="text-h7" style="font-family: 'MitrLight'">บริหารหัวใจ</p>
                        </v-col>
                        <v-col cols="12" md="2">
                            <v-img src="/public/physiotherapy.png" max-width="100" max-height="100" cover>
                            </v-img>
                            <p class="text-h7" style="font-family: 'MitrLight'">แกนกลาง</p>
                        </v-col>
                    </v-row>
                </v-col>

                <v-col cols="12" md="6">
                    <v-img src="/public/male-vector-training.png" max-width="500" max-height="500">
                    </v-img>
                </v-col>
            </v-row>

            <v-row class="text-center mt-16 align-center">
                <v-container class="d-flex align-center justify-center">

                    <v-col cols="12" md="4" class="text-left">
                        <p class="text-h3 mt-7 text-red-darken-4 ml-16" style="font-family: 'MitrSemiBold'">THB 9000</p>
                        <p class="text-h3 mt-7 text-red-darken-4 ml-16" style="font-family: 'MitrSemiBold'">THB 38000
                        </p>
                        <p class="text-h3 mt-7 text-red-darken-4 ml-16" style="font-family: 'MitrSemiBold'">THB 76000
                        </p>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-img :width="250" aspect-ratio="1/1" cover class="mt-7 ml-14"
                            src="https://media.discordapp.net/attachments/1208070882317312031/1208443720224084028/line.png?ex=65e34dea&is=65d0d8ea&hm=1ad77b04ffa09a6cace85cf7bd087f0c901f489882be09e225955dca8295c19b&=&format=webp&quality=lossless&width=640&height=640">
                        </v-img>
                    </v-col>

                    <v-col cols="12" md="4" class="text-left">
                        <p class="text-h3 mt-7 " style="font-family: 'MitrSemiBold'">7 hour</p>
                        <p class="text-h3 mt-7 " style="font-family: 'MitrSemiBold'">30 hour</p>
                        <p class="text-h3 mt-7 " style="font-family: 'MitrSemiBold'">60 hour</p>
                    </v-col>

                </v-container>
            </v-row>

            <v-row class="px-16 ml-16 mr-16 mt-16 mb-16">
                <c-vol>
                    <p class="text-h5 text-left mt-3 pt-3" style="font-family: 'MitrLight'">
                        ปลดล็อคศักยภาพทางด้านฟิตเนสของคุณไปกับโค้ชฟิตเนส
                        <v-btn rounded variant="flat" color="white" class="text-red-darken-4 text-subtitle-1 ml-5"
                            to="/loginview" style="font-family: 'MitrLight'">
                            หาเทรนเนอร์ส่วนตัวตอนนี้เลย
                        </v-btn>
                    </p>
                </c-vol>
            </v-row>

        </v-main>


    </v-layout>
</template>

<style>
@font-face {
    font-family: 'MitrBold';
    src:
        url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrExtraLight';
    src:
        url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrLight';
    src:
        url('Mitr-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrMedium';
    src:
        url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrRegular';
    src:
        url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MitrSemiBold';
    src:
        url('Mitr-SemiBold.ttf') format('truetype');
}
</style>