<script setup lang="ts">
import AddPtDialog from '@/dialog/AddPtDialog.vue';
import TrainerHeader from '@/headers/TrainerHeader.vue';
import { useClassStore } from '@/stores/class'
import { usePtStore } from '@/stores/pt';
import { useStatusStore } from '@/stores/status'
import { onMounted, ref } from 'vue'


onMounted(async () => {
  await ptStore.getPts();
  window.scrollTo(0, 0)
})



function formatDateTime(dateTimeString: string | number | Date) {
  const date = new Date(dateTimeString)
  const formattedDate = `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear()} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`
  return formattedDate
}

const dialog = ref(false)
const ptStore = usePtStore();
const statusStore = useStatusStore()


// const myAction = function() {
//   data() {
//     return {
//       currentState: 'success',
//     };
//   },
//   methods: {
//     cancel() {
//       this.currentState = 'cancel';
//     },
//   },
// };
</script>

<template>
  <v-layout row wrap class="pa-lg-10">
    <TrainerHeader></TrainerHeader>
    <v-main>
      <AddPtDialog></AddPtDialog>
      
      <div class="d-flex ma-2 pl-7">
        <p class="text-h4 font-weight-black" style="font-family: 'MitrMedium'">จัดการ Personal Training</p>
        <v-spacer></v-spacer>
        <!-- BTN SUCCESS -->
      </div>

      <div>
        <v-btn  
          color="white"
          class="mr-12 text-subtitle-1 rounded-pill ma-2 ml-8"
          style="font-family: 'MitrRegular'"
          @click="ptStore.dialog= true"
        >          
        เพิ่ม
        </v-btn>
        <v-table>
          <!-- Head -->
          <thead class="text-h6 font-weight-bold">
            <tr style="font-family: 'MitrRegular'">
              <th class="text-left">ID</th>
              <th class="text-left">Customer</th>
              <th class="text-left">Duration</th>
              <th class="text-left">Date</th>
            </tr>
          </thead>

          <tbody >      
            <tr v-for="item of ptStore.pt" :key="item.pt_id" class="text-subtitle-1">   
              <td style="font-family: 'MitrLight'">{{ item.member?.member_id }}</td>
              <td style="font-family: 'MitrLight'">{{ item.member?.member_name}}</td>
              <td style="font-family: 'MitrLight'">{{ item.pt_duration }} ชั่วโมง</td>
              <td style="font-family: 'MitrLight'">{{ formatDateTime(item.pt_createdAt!) }}</td> 
              </tr>   
          </tbody>
        </v-table>
      </div>
    </v-main>
  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src: url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrExtraLight';
  src: url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrLight';
  src: url('Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrMedium';
  src: url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrRegular';
  src: url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrSemiBold';
  src: url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
