<script setup lang="ts">
import MemberHeader from '@/headers/MemberHeader.vue';
import { useClassStore } from '@/stores/class'
import { useStatusStore } from '@/stores/status'
import { onMounted, ref } from 'vue'
import TrainerHeader from '@/headers/TrainerHeader.vue';

onMounted(async () => {
  await statusStore.getStatus()
  window.scrollTo(0, 0)
})



function formatDateTime(dateTimeString: string | number | Date) {
  const date = new Date(dateTimeString)
  const formattedDate = `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear()} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`
  return formattedDate
}

const classStore = useClassStore()
const statusStore = useStatusStore()
const success = ref([
  {
    activity: 'BOXING',
    type: 'Class Room',
    date: '21/12/2022 14:06',
    bookingtime: '25/11/2022 09:00 - 25/11/2022 10:00',
    trainer: 'Shinchan'
  }
])

const success1 = ref([
  {
    activity: 'YOGA',
    type: 'Class Room',
    date: '15/12/2022 12:23',
    bookingtime: '21/11/2022 17:00 - 21/11/2022 19:00',
    trainer: 'Nene'
  }
])

const confirm = ref([
  {
    activity: 'Boxing',
    type: 'Class Room',
    date: '10/12/2022 16:11',
    bookingtime: '13/11/2022 09:00 - 13/11/2022 10:00',
    trainer: 'Shinchan'
  }
])

const cancel = ref([
  {
    activity: '-',
    type: 'PT Session',
    date: '09/12/2022 09:42',
    bookingtime: '-',
    trainer: 'Kazama'
  }
])

// const myAction = function() {
//   data() {
//     return {
//       currentState: 'success',
//     };
//   },
//   methods: {
//     cancel() {
//       this.currentState = 'cancel';
//     },
//   },
// };
</script>

<template>
  <v-layout row wrap class="pa-lg-10">
    <TrainerHeader></TrainerHeader>
    <v-main>
      <div class="d-flex ma-2 pl-7">
        <p class="text-h4 font-weight-black" style="font-family: 'MitrMedium'">จัดการ Status Class</p>
        <v-spacer></v-spacer>

        <!-- BTN SUCCESS -->
        <v-btn color="blue-lighten-2" class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'"
          to="/statusptmanaget">
          <v-icon start icon="mdi-bag-personal-outline"></v-icon>
          Personal Training
        </v-btn>
        <v-btn color="orange-lighten-2" class="mr-12 text-subtitle-1 rounded-pill pr-5"
          style="font-family: 'MitrRegular'">
          <v-icon start icon="mdi-checkbox-blank-circle-outline"></v-icon>
          SUCCESS
        </v-btn>
      </div>

      <div>
        <v-table>
          <!-- Head -->
          <thead class="text-h6 font-weight-bold">
            <tr style="font-family: 'MitrRegular'">
              <th class="text-left">Status</th>
              <th class="text-left">ID</th>
              <th class="text-left">Type</th>
              <th class="text-left">Date</th>
              <th class="text-left">Booking Time</th>
            </tr>
          </thead>

          <tbody>
            <!-- SUCCESS -->
            <tr v-for="item of statusStore.status" :key="item.status_id" class="text-subtitle-1">
              <td>
                <!-- New -->
                <v-dialog transition="dialog-top-transition" width="auto" height="auto">
                  <template v-slot:activator="{ props }">
                    <v-btn v-if="item.status_name === 'Success'" color="orange-lighten-2" v-bind="props"
                      class="text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'">
                      <v-icon start icon="mdi-checkbox-blank-circle-outline"> </v-icon>
                      {{ item.status_name }}
                    </v-btn>
                    <v-btn v-else-if="item.status_name === 'Confirm'" color="green-lighten-2" v-bind="props"
                      class="text-subtitle-1 rounded-pill pr-7" style="font-family: 'MitrLight'">
                      <v-icon start icon="mdi-check"> </v-icon>
                      {{ item.status_name }}
                    </v-btn>

                    <v-btn v-else-if="item.status_name === 'Cancel'" color="red-darken-1" v-bind="props"
                      class="text-subtitle-1 rounded-pill pr-7" style="font-family: 'MitrLight'">
                      <v-icon start icon="mdi-cancel"> </v-icon>
                      {{ item.status_name }}
                    </v-btn>
                  </template>

                  <template v-slot:default="{ isActive }">
                    <v-card width="500" style="font-family: 'MitrLight'">
                      <!-- close -->
                      <v-toolbar height="40" color="black" @click="isActive.value = false">
                        <v-btn icon dark>
                          <v-icon> mdi-close </v-icon>
                        </v-btn>
                      </v-toolbar>

                      <v-card-text>
                        <v-row>
                          <v-col>
                            <div>Status</div>
                          </v-col>
                          <v-col>
                            <v-btn v-if="item.status_name === 'Success'" color="orange-lighten-2"
                              class="text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'">
                              <v-icon start icon="mdi-checkbox-blank-circle-outline"> </v-icon>
                              {{ item.status_name }}
                            </v-btn>
                            <v-btn v-else-if="item.status_name === 'Confirm'" color="green-lighten-2"
                              class="text-subtitle-1 rounded-pill pr-7" style="font-family: 'MitrLight'">
                              <v-icon start icon="mdi-check"> </v-icon>
                              {{ item.status_name }}
                            </v-btn>

                            <v-btn v-else-if="item.status_name === 'Cancel'" color="red-darken-1"
                              class="text-subtitle-1 rounded-pill pr-7" style="font-family: 'MitrLight'">
                              <v-icon start icon="mdi-cancel"> </v-icon>
                              {{ item.status_name }}
                            </v-btn>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>Activity</div>
                          </v-col>
                          <v-col>
                            <div>{{ item.classes.classes_name }}</div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>Type</div>
                          </v-col>
                          <v-col>
                            <div>{{ item.classes.classes_activity }}</div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>Room</div>
                          </v-col>
                          <v-col>
                            <div>{{ item.classes.classes_room }}</div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>Date</div>
                          </v-col>
                          <v-col>
                            <div>{{ formatDateTime(item.status_booking_time) }}</div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>Booking Time</div>
                          </v-col>
                          <v-col>
                            <div>{{ item.classes.classes_time }}</div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>Trainer</div>
                          </v-col>
                          <v-col v-if="item.classes">
                            <div>
                              {{ item.classes.classes_trainer }}
                            </div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <div>ID</div>
                          </v-col>
                          <v-col>
                            <div>{{ item.status_id }}</div>
                          </v-col>
                        </v-row>

                        <v-row>
                          <v-container class="d-flex justify-center">
                            <v-col cols="4">
                              <v-btn color="red-darken-1" class="text-subtitle-1 rounded-pill pr-7"
                                style="font-family: 'MitrLight'">
                                <v-icon start icon="mdi-cancel"> </v-icon>
                                CANCEL
                              </v-btn>
                            </v-col>
                          </v-container>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </template>
                </v-dialog>
              </td>
              <td style="font-family: 'MitrLight'">{{ item.status_id }}</td>
              <td style="font-family: 'MitrLight'">{{ item.classes.classes_activity }}</td>
              <td style="font-family: 'MitrLight'">
                {{ formatDateTime(item.status_booking_time) }}
              </td>
              <td style="font-family: 'MitrLight'">{{ item.classes.classes_time }}</td>
            </tr>
          </tbody>
        </v-table>
      </div>
    </v-main>
  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src: url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrExtraLight';
  src: url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrLight';
  src: url('Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrMedium';
  src: url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrRegular';
  src: url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrSemiBold';
  src: url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
