<script setup lang="ts">
import { RouterLink, RouterView, useRouter, type RouteLocationRaw } from 'vue-router';
import ClassBooking from '@/components/members/ClassBooking.vue';
import ProfileManage from './components/members/ProfileManage.vue';
import HomeView from './views/HomeView.vue';
import MemberHeader from './headers/MemberHeader.vue';


import { ref } from 'vue';

</script>
<template>
  <v-layout>
      </v-layout>

  <main>
    <router-view></router-view>
  </main>
</template>