<script setup lang="ts">
import AdminHeader from '@/headers/AdminHeader.vue'
import { onMounted, ref } from 'vue'
import { useExpanseStore } from '@/stores/expanse'

onMounted(async () => {
  await expanseStore.getExp()
  window.scrollTo(0, 0)
})

function formatDateTime(dateTimeString: string | number | Date) {
  const date = new Date(dateTimeString)
  const formattedDate = `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear()} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`
  return formattedDate
}

const expanseStore = useExpanseStore();

const success = ref([
  {
    activity: 'BOXING',
    type: 'Class Room',
    date: '21/12/2022 14:06',
    bookingtime: '25/11/2022 09:00 - 25/11/2022 10:00',
    trainer: 'Shinchan'
  }
])

const success1 = ref([
  {
    activity: 'YOGA',
    type: 'Class Room',
    date: '15/12/2022 12:23',
    bookingtime: '21/11/2022 17:00 - 21/11/2022 19:00',
    trainer: 'Nene'
  }
])

const confirm = ref([
  {
    activity: 'Boxing',
    type: 'Class Room',
    date: '10/12/2022 16:11',
    bookingtime: '13/11/2022 09:00 - 13/11/2022 10:00',
    trainer: 'Shinchan'
  }
])

const cancel = ref([
  {
    activity: '-',
    type: 'PT Session',
    date: '09/12/2022 09:42',
    bookingtime: '-',
    trainer: 'Kazama'
  }
])
</script>

<template>
  <v-layout row wrap class="pa-lg-10">
    <AdminHeader></AdminHeader>
    <v-main>
      <div class="d-flex ma-2 pl-7">
        <v-col>
          <v-row>
            <p class="text-h4 font-weight-black" style="font-family: 'MitrMedium'">จัดการการเงิน</p>
          </v-row>

          <!-- Add Dialog -->
          <v-row>
            <v-dialog max-width="500">
              <template v-slot:activator="{ props: activatorProps }">
                <v-btn class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'"
                  v-bind="activatorProps" text="เพิ่ม"></v-btn>
              </template>

              <template v-slot:default="{ isActive }">
                <v-card>
                  <v-toolbar height="40" color="black" @click="isActive.value = false">
                    <v-btn icon dark>
                      <v-icon> mdi-close </v-icon>
                    </v-btn>
                  </v-toolbar>

                  <v-card-text>
                    <v-row>
                      <v-col>
                        <div>Type</div>
                      </v-col>
                      <v-col><v-radio label="Income" value="burkina"></v-radio></v-col>
                      <v-col><v-radio label="Expenses" value="burkina"></v-radio></v-col>
                    </v-row>
                    <v-row>
                      <v-col>Name</v-col>
                      <v-col><v-text-field variant="solo"></v-text-field></v-col>
                    </v-row>
                    <v-row>
                      <v-col>Date</v-col>
                      <v-col><v-text-field variant="solo"></v-text-field></v-col>
                    </v-row>
                    <v-row>
                      <v-col>Price</v-col>
                      <v-col><v-text-field variant="solo"></v-text-field></v-col>
                    </v-row>
                    <v-row class="justify-center">
                      <v-btn class="text-none" color="blue-darken-4" rounded="0" variant="outlined" v-bind="props">
                        Select file
                      </v-btn>
                    </v-row>
                    <v-row style="right: auto">
                      <v-btn color="green"> Save </v-btn>
                    </v-row>
                  </v-card-text>
                </v-card>
              </template>
            </v-dialog>
          </v-row>
        </v-col>
        <v-spacer></v-spacer>

        <!-- BTN EXPENSES -->
        <v-btn color="red" class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'">
          EXPENSES
        </v-btn>
        <!-- BTN INCOME -->
        <v-btn color="green" class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'">
          INCOME
        </v-btn>
      </div>

      <div>
        <v-table>
          <thead class="text-h6 font-weight-bold">
            <tr style="font-family: 'MitrRegular'">
              <th>Type</th>
              <th>No</th>
              <th>Name</th>
              <th>Date</th>
              <th>Price</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="text-subtitle-1" style="font-family: 'MitrLight'">
            <!-- 1 -->
            <tr v-for="item of expanseStore.expanse" :key="item.expanse_id">
              <td>
                <v-btn v-if="item.expanse_type === 'Income'" color="green"
                  class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'">
                  {{ item.expanse_type }}
                </v-btn>
                <v-btn v-else color="red" class="mr-12 text-subtitle-1 rounded-pill pr-5"
                  style="font-family: 'MitrRegular'">
                  {{ item.expanse_type }}
                </v-btn>
              </td>
              <td>{{ item.expanse_id }}</td>
              <td>{{ item.expanse_name }}</td>
              <td>{{ formatDateTime(item.expanse_date) }}</td>
              <td>{{ item.expanse_price }} Bath</td>
              <td>
                <v-dialog max-width="500">
                  <template v-slot:activator="{ props: activatorProps }">
                    <v-btn color="orange" class="mr-12 text-subtitle-1 rounded-pill pr-5 justify-center"
                      style="font-family: 'MitrRegular'" v-bind="activatorProps">
                      <v-icon centered start icon="mdi-magnify" class="justify-center"> </v-icon>
                    </v-btn>
                  </template>

                  <template v-slot:default="{ isActive }">
                    <v-card>
                      <v-toolbar height="40" color="black" @click="isActive.value = false">
                        <v-btn icon dark>
                          <v-icon> mdi-close </v-icon>
                        </v-btn>
                      </v-toolbar>

                      <v-card-text>
                        <v-row>
                          <v-col>
                            <div>Type</div>
                          </v-col>
                          <v-col><v-btn v-if="item.expanse_type === 'Income'" color="green"
                              class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'">
                              {{ item.expanse_type }}
                            </v-btn>
                            <v-btn v-else color="red" class="mr-12 text-subtitle-1 rounded-pill pr-5"
                              style="font-family: 'MitrRegular'">
                              {{ item.expanse_type }}
                            </v-btn></v-col>
                        </v-row>
                        <v-row>
                          <v-col>No</v-col>
                          <v-col>{{ item.expanse_id }}</v-col>
                        </v-row>
                        <v-row>
                          <v-col>Name</v-col>
                          <v-col>{{ item.expanse_name }}</v-col>
                        </v-row>
                        <v-row>
                          <v-col>Date</v-col>
                          <v-col>{{ formatDateTime(item.expanse_date) }}</v-col>
                        </v-row>
                        <v-row>
                          <v-col>Price</v-col>
                          <v-col>{{ item.expanse_price }} Bath</v-col>
                        </v-row>
                        <v-row>
                          <v-container class="d-flex justify-center">
                            <v-col>
                              <v-img src="/public/slip.png">
                              </v-img>
                            </v-col>
                          </v-container>
                        </v-row>
                        <v-row class="justify-center"> </v-row>
                      </v-card-text>
                    </v-card>
                  </template>
                </v-dialog>
              </td>
              <td><v-btn flat icon="mdi-pencil-outline"></v-btn></td>
              <td><v-btn flat icon="mdi-delete"></v-btn></td>
            </tr>
          </tbody>
        </v-table>
      </div>
    </v-main>
  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src: url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrExtraLight';
  src: url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrLight';
  src: url('Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrMedium';
  src: url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrRegular';
  src: url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrSemiBold';
  src: url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
