<script setup lang="ts">
import AdminHeader from '@/headers/AdminHeader.vue'
import { useClassStore } from '@/stores/class'
import { useStatusStore } from '@/stores/status'
import { useTrainerStore } from '@/stores/trainer'
import { onMounted, ref } from 'vue'

onMounted(async () => {
  await trainerStore.getTrainers();
  window.scrollTo(0, 0);
})
const trainerStore = useTrainerStore();

function formatDateTime(dateTimeString: string | number | Date) {
  const date = new Date(dateTimeString)
  const formattedDate = `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear()}`
  return formattedDate
}

const classStore = useClassStore()
const statusStore = useStatusStore()

const success = ref([
  {
    activity: 'BOXING',
    type: 'Class Room',
    date: '21/12/2022 14:06',
    bookingtime: '25/11/2022 09:00 - 25/11/2022 10:00',
    trainer: 'Shinchan'
  }
])

const success1 = ref([
  {
    activity: 'YOGA',
    type: 'Class Room',
    date: '15/12/2022 12:23',
    bookingtime: '21/11/2022 17:00 - 21/11/2022 19:00',
    trainer: 'Nene'
  }
])

const confirm = ref([
  {
    activity: 'Boxing',
    type: 'Class Room',
    date: '10/12/2022 16:11',
    bookingtime: '13/11/2022 09:00 - 13/11/2022 10:00',
    trainer: 'Shinchan'
  }
])

const cancel = ref([
  {
    activity: '-',
    type: 'PT Session',
    date: '09/12/2022 09:42',
    bookingtime: '-',
    trainer: 'Kazama'
  }
])
</script>

<template>
  <v-layout row wrap class="pa-lg-10">
    <AdminHeader></AdminHeader>
    <v-main>
      <div class="d-flex ma-2 pl-7">
        <v-col>
          <v-row>
            <p class="text-h4 font-weight-black" style="font-family: 'MitrMedium'">
              จัดการ Trainer
            </p>
          </v-row>

          <!-- Add -->
          <v-row>
            <v-btn class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'" to="/addtrainer">
              เพิ่ม
            </v-btn>
          </v-row>
        </v-col>
        <v-spacer></v-spacer>
      </div>

      <div>
        <v-table>
          <thead class="text-h6 font-weight-bold">
            <tr style="font-family: 'MitrRegular'">
              <th>ID</th>
              <th>First</th>
              <th>Date</th>
              <th>Phone</th>
              <th>View</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody class="text-subtitle-1" style="font-family: 'MitrLight'">
            <!-- 1 -->
            <tr v-for="item of trainerStore.trainer" :key="item.trainer_id">
              <td>{{ item.trainer_id}}</td>
              <td>{{ item.trainer_name}}</td>
              <td>{{ formatDateTime(item.trainer_start_date) }}</td>
              <td>{{ item.trainer_phone }}</td>
              <td>
                <v-btn color="orange" class="mr-12 text-subtitle-1 rounded-pill pr-5" style="font-family: 'MitrRegular'"
                @click="$router.push(`/viewtrainer/${item.trainer_id}`)">
                  <v-icon centered start icon="mdi-magnify" class="justify-center"> </v-icon>
                </v-btn>
              </td>
              <td><v-btn flat icon="mdi-delete"></v-btn></td>
            </tr>

          </tbody>
        </v-table>
      </div>
    </v-main>
  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src: url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrExtraLight';
  src: url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrLight';
  src: url('Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrMedium';
  src: url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrRegular';
  src: url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrSemiBold';
  src: url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
