<script lang="ts" setup>
import { onMounted, ref, computed } from 'vue';
import { RouterLink, RouterView, useRoute, useRouter } from 'vue-router'
import ClassBooking from '@/components/members/ClassBooking.vue'
import AdminHeader from '@/headers/AdminHeader.vue'
import { useTrainerStore } from '@/stores/trainer'

onMounted(async () => {
  await trainerStore.getTrainers();
  window.scrollTo(0, 0);
})
const trainerStore = useTrainerStore();
const dialog = ref(false)


const route = useRoute();
const selectedId = computed(() => route.params.id);

const selectedTrainer = computed(() => {
  const id = selectedId.value;
  return trainerStore.trainer.find(item => {
    if (Array.isArray(id)) {
      return id.includes(item.trainer_id!.toString());
    } else {
      return item.trainer_id!.toString() === id;
    }
  });
})
const bookingCompleted = ref(false)

const confirmBooking = () => {
  bookingCompleted.value = true
}

const closeDialog = () => {
  dialog.value = false
}

function formatDateTime(dateTimeString: string) {
  const [day, month, year] = dateTimeString.split('/')
  const thaiMonths = [
    "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
    "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
  ]
  const thaiMonth = thaiMonths[parseInt(month, 10) - 1]
  return `${day} ${thaiMonth} ${year}`
}
</script>

<template>
  <v-layout class="pa-lg-10">
    <AdminHeader></AdminHeader>
    <v-main v-if="selectedTrainer">
      <div class="ma-2 pl-7">
        <div class="d-flex">
          <p class="text-h4 font-weight-black pl-4" style="font-family: 'MitrMedium'">จัดการ Trainer</p>
          <v-spacer></v-spacer>

          <v-btn class="text-h5 bg-orange-lighten-3 text-black mr-5 rounded-pill" to="">
            <p>⠀</p>
            <v-icon>mdi-pencil-outline</v-icon>
            <p>⠀</p>
          </v-btn>
        </div>

        <p class="text-h5 pl-4 pt-3" style="font-family: 'MitrRegular'">
          ID {{ selectedTrainer.trainer_id }}
        </p>
      </div>

      <div class="d-flex pa-4 text-center">
        <!-- icon -->
        <v-avatar class="ma-5" size="300" rounded="">
          <v-img src="/public/male-vector-training.png">
          </v-img>
        </v-avatar>

        <div>
          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Name :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ selectedTrainer.trainer_name }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Gender :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ selectedTrainer.trainer_gender }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">
                Date of Birth :
              </div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">
                {{ formatDateTime(selectedTrainer.trainer_dob) }}
              </div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Age :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ selectedTrainer.trainer_age }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Phone :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ selectedTrainer.trainer_phone }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">Email :</div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">{{ selectedTrainer.trainer_email }}</div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">
                Address :
              </div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">
                {{ selectedTrainer.trainer_address }}
              </div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">
                Facebook :
              </div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">
                {{ selectedTrainer.trainer_facebook }}
              </div>
            </v-col>
          </v-row>
          
          <v-row class="text-left ml-12 mt-16">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">
                Start date :
              </div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">
                {{ selectedTrainer.trainer_start_date }}
              </div>
            </v-col>
          </v-row>

          <v-row class="text-left ml-12">
            <v-col>
              <div class="text-h5 font-weight-bold" style="font-family: 'MitrMedium'">
                Skill :
              </div>
            </v-col>
            <v-col class="ml-n16">
              <div class="text-h5 ml-n16" style="font-family: 'MitrRegular'">
                {{ selectedTrainer.trainer_style }}
              </div>
            </v-col>
          </v-row>

          <div class="d-flex">
            <p class="text-h6 font-weight-bold text-left pl-15">
              ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            </p>
          </div>
        </div>
      </div>

      <div class="pt-9 text-right">
        <v-btn class="text-h5 bg-brown-lighten-1 text-black" to="/trainermanage" style="font-family: 'MitrRegular'">
          Back
        </v-btn>
      </div>
    </v-main>
  </v-layout>
</template>

<style>
@font-face {
  font-family: 'MitrBold';
  src: url('Mitr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrExtraLight';
  src: url('Mitr-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrLight';
  src: url('Mitr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrMedium';
  src: url('Mitr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrRegular';
  src: url('Mitr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MitrSemiBold';
  src: url('Mitr-SemiBold.ttf') format('truetype');
}
</style>
